/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.data_things{
    color: #101136;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

/*ЗАДАНИЕ 2*/


*{
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

/* месяцы и годы */
#month-calendar{
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.month{
    font-family:  'Reza Zulmi Serif';
    margin: 0;
    padding: 3rem 2rem 2rem;
    background: #3d5084;
    text-align: center;
    width: 100%;
    color: #ffffff;
    list-style: none;
}

.month li{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.month li.prev,
.month li.next{
    cursor:pointer;
}

.month li.prev{
    float: left;
}

.month li.next{
    float: right;
}

.month li.year-name{
    font-size: 1.2rem;
    font-weight: 400;
}
.fa-angle-right:before {
    content: ">";
}
.fa-angle-left:before {
    content: "<";
}

/* дни недели */
.weekdays{
    font-family:  'Reza Zulmi Serif';
    margin: 0;
    padding: 1rem 0;
    background-color: #272635;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

.weekdays li{
    font-family:  'Reza Zulmi Serif';
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
}
.weekday{
    color: #ffffff;
}
.holidays {

    color: #db0000;
}
/* дни */
.days{
    font-family:  'Reza Zulmi Serif';
    margin: 0;
    padding: 1rem 0;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    height: 14rem;
}
.days li:nth-child(7n+6){
    color: #db0000;
}
.days li:nth-child(7n+7){
    color: #db0000;
}

.days li{
    padding: 0.5rem;
    list-style: none;
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    line-height: 1rem;
}

.days li.date-now{
    color: #fff;
    font-weight: 700;
    border-style: groove;
    background: #101136;
  /* border-radius: 50%;
    text-align: center;
  background: #d5a6a4; */
}

.days li.date-holidays{
    color:#db0000;
}

/*Задание 3*/
.dom_element{
    color: #000000;
    display: flex;
    justify-content: center;
}

/*Задание 4*/
.rnd__block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1500px;
    border: 1px solid #FFF;
    position: static;
}
.rnd__img1{
    width: 50%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
}
.rnd__img2{
    width: 50%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
}
.rnd__img3{
    width: 50%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
}
.rnd__img4{
    width: 50%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
}

/* Задание 6 */

.ball {
    border-radius: 0px;
    width: 50px;
    height: 50px;
    background: #c00;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s;
  }
.ball__screen{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 660px;
    height: 400px;
    border: 1px solid #ccc;
    padding: 20px;
}
/* Задание 7 */

ul li {
    list-style: none;
  }
  
  .sweet__list span {
    cursor: pointer;
    animation: showBlock 2s linear forwards;
  }

  /* Задание 8*/

  .hidden {
    color: transparent;
    animation: hideBlock 10s linear forwards;
    
  }

  .hidden:hover{
    opacity: 0;
  }

  @keyframes hideBlock {
    100% {
      opacity: 0;
    }
    0% {
      opacity: 1;
    }
  }
  .shown{
    animation: showBlock 10s linear forwards;
  }
  .shown:hover{
    opacity: 0;
  }

  .true__life{
    color:rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    /*ДА КАК МНЕ СДЕЛАТЬ ЭТОТ ТЕКСТ ПО СЕРЕДИНЕ ТО, А???*/
  }

@keyframes showBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Form */

  div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #3d5084;
    }
.main-block {
    display: block;
    justify-content: center;
    align-items: center;
    background: #fff;
    }
form {
    width: 100%;
    padding: 20px;
    }
fieldset {
    border: none;
    border-top: 1px solid #3d5084;
    }
.account-details, .personal-details {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    }
.account-details >div, .personal-details >div >div {
    display: block;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    }
.account-details >div, .personal-details >div, input, label {
    width: 100%;
    justify-content:space-around;
    }
label {
    padding: 0 5px;
    text-align: right;
    vertical-align: middle;
    }
input {
    padding: 5px;
    vertical-align: middle;
    }
.checkbox {
    margin-bottom: 10px;
    }
select, .children, .gender, .bdate-block {
    width: calc(100% + 26px);
    padding: 5px 0;
    }
select {
    background: transparent;
    }
.gender input {
    width: auto;
    } 
.gender label {
    padding: 0 5px 0 0;
    } 
.bdate-block {
    display: flex;
    justify-content: center;
    align-items: center;
    }
.birthdate select.day {
    width: 35px;
    }
.birthdate select.mounth {
    width: calc(100% - 94px);
    }
.birthdate input {
    width: 38px;
    vertical-align: unset;
    }
.checkbox input, .children input {
    width: auto;
    margin: -2px 10px 0 0;
    }
.checkbox a {
    color: #3d5084;
    }
.checkbox a:hover {
    color: #3d5084;
    }
button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #3d5084; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    }
button:hover {
    background: #3d5084;
    }
@media (min-width: 568px) {
    .account-details >div, .personal-details >div {
        width: 100%;
        }
    label {
        width: 20%;
        }
    input {
        width: 30%;
        }
    select, .children, .gender, .bdate-block {
        width: calc(30% + 16px);
        }
}
.error{
    color: #e52a2a;
}
  